{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger has-error" role="alert">
            You can't have an empty list item
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.item_text }}
    </form>

    <table id="id_list_table" class="table table-striped table-hover mt-4">
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}: {{ item.text }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
